<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/users/login" method="POST">
					<div class="input-container ic1">
						<input id="password" class="input" type="email" name="email" placeholder="mail" />
					</div>
		
					<div class="input-container ic1">
						<input id="password" class="input" type="password" name="password" placeholder="clave" />
					</div>
					<div class="input-container ic1 checkbox">
					  <label for="remember">Recordarme</label>
					  <input id="remember" class="input" type="checkbox" name="remember" /> 
				  </div>
					<button>Ingresar</button>
				</form>
			</h2>
		</div>
	</div>


	<%- include('./partials/footer') %>

		</body>

		</html>