<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<li>Mail: <input type="email" id="email"> </li>
				<br>
				<li>Contraseña: <input type="password"></li>
				<br>
				<li>Recordarme: <input type="checkbox"></li>
			</h2>


<%- include('./partials/footer') %>


</body>

</html>