<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/users/login" method="POST">
					<li><a>Mail: <input name="email" type="email" id="email"></a></li>
					<br>
					<br>
					<li><a>Contraseña: <input name="password" type="password"></a></li>
					<br>
					<br>
					<button>Ingresar</button>
				</form>
			</h2>
		</div>
	</div>


	<%- include('./partials/footer') %>

		</body>

		</html>