<%- include('./partials/headerLogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">

				<form action="/product/product-add" method="post">
					<li>Imagen: <input type="file" name="shirt_image"> </li>
					<br>
					<br>
					<li>Nombre del Producto: <input type="text" name="shirt_name"></li>
					<br>
					<br>
					<li>Descripción: <input type="text" name="shirt_description"></li>
					<br>
					<br>
					<li>Fecha de Carga: <input type="date" name="created_at"></li>
					<br>
					<br>
					<li><input type="submit" value="Agregar Producto"></li>

				</form>
			</h2>
		</div>
	</div>


	<%- include('./partials/footer') %>


		</body>

		</html>