<%- include('./partials/headerLogueado') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<li>Imagen: <input type="image"> </li>
				<br>
				<br>
				<li>Nombre del Producto: <input type="text"></li>
				<br>
				<br>
				<li>Descripción: <input type="text"></li>
				<br>
				<br>
				<li>Fecha de Carga: <input type="date"></li>
			</h2>
		</div>
	</div>


<%- include('./partials/footer') %>


</body>

</html>