<%- include('./partials/headerLogueado') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<li><a>Mail: <input type="email" id="email"></a></li>
				<br>
				<br>
				<li><a>Usuario: <input type="text" name="nombre"/></a></li>
				<br>
				<br>
				<li><a>Contraseña: <input type="password"></a></li>
				<br>
				<br>
				<li><a>Fecha de Nacimiento: <input type="date"></a></li>
				<br>
				<br>
				<li><a>Documento: <input type ="number"></a></li>
				<br>
				<br>
				<li><a>Foto de Perfil: <input type ="file"></a></li>
			</h2>
		</div>
	</div>


<%- include('./partials/footer') %>


</body>

</html>