<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<!-- estilos CSS -->
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>

	<% if (locals.user != undefined) { %> <!--Existe en locals una propedad llamada user quiero que me muestre el headerLogueado-->
		<%- include('./partials/headerLogueado.ejs') %>
	<% }else{ %> <!--Si no que me muestre el header-->
		<%- include('./partials/header.ejs') %>
		<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<li><a>Mail: <input type="email" id="email"></a></li>
				<br>
				<br>
				<li><a>Usuario: <input type="text" name="nombre"/></a></li>
				<br>
				<br>
				<li><a>Contraseña: <input type="password"></a></li>
				<br>
				<br>
				<li><a>Fecha de Nacimiento: <input type="date"></a></li>
				<br>
				<br>
				<li><a>Documento: <input type ="number"></a></li>
				<br>
				<br>
				<li><a>Foto de Perfil: <input type ="file"></a></li>
			</h2>
		</div>
	</div>


<%- include('./partials/footer') %>


</body>

</html>