<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<li>Mail: <input type="email" id="email"> </li>
				<br>
				<li>Usuario: <input type="text" name="nombre"/></li>
				<br>
				<li>Contraseña: <input type="password"></li>
				<br>
				<li>Fecha de Nacimiento: <input type="date"></li>
				<br>
				<li>Documento: <input type ="number"></li>
				<br>
				<li>Foto de Perfil: <input type ="file"></li>

				
			</h2>


<%- include('./partials/footer') %>


</body>

</html>