<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<!-- estilos CSS -->
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>

	<% if (locals.user != undefined) { %> <!--Existe en locals una propedad llamada user quiero que me muestre el headerLogueado-->
		<%- include('./partials/headerLogueado.ejs') %>
	<% }else{ %> <!--Si no que me muestre el header-->
		<%- include('./partials/header.ejs') %>
		<% } %>

	

	<!-- Novedades -->
<section>
	<% if (locals.errors) { %>
	 <p> <%= locals.errors.message %>  </p>
	<% } %>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/users/register" method="POST" enctype="multipart/form-data">
					<div class="input-container">
						<input id="name" class="input" type="text" name="username" placeholder="nombre" />
					</div>
					<div class="input-container">
						<input id="password" class="input" type="email" name="email" placeholder="mail" />
					</div>
					<div class="input-container">
						<input id="password" class="input" type="password" name="password" placeholder="clave" />
					</div>
					<div class="input-container">
						<input id="birthday" class="input" type="date" name="birthday"/>
					</div>
					<div class="input-container">
						<input id="img" class="input" type="file" name="img"/>
					</div>

					<button type="text" class="submit">Registrarse</button>
				</form>
			</h2>
		</div>
	</div>
</section>

	<%- include('./partials/footer') %>


		</body>

		</html>