	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<h2>Pagina Fundada por:</h2>
						<h3>Marcos Bordeu</h3>
						<h3>Tomas De Trapaga</h3>
						
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<h2>Para contactarnos:</h2>
						<p>mbordeu@udesa.edu.ar</p>
						<p>tdetrapaga@udesa.edu.ar</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<img class="logo-footer" src="/images/logoTemplo.png">
						
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->